#!/bin/bash

# Backend

export SMTP_USERNAME=user
export SMTP_PASSWORD=password
export SMTP_HOST=127.0.0.1
export SMTP_PORT=1025
# export SMTP2_USERNAME=user
# export SMTP2_PASSWORD=password
# export SMTP2_HOST=127.0.0.1
# export SMTP2_PORT=1026

# Frontend
export VITE_API_URL=http://127.0.0.1:5000